<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>데이터베이스 테스트</title>
</head>
<body>
    <h1>User List</h1>
    
    <!--
    <p>아이디(기본키) : <span th:text="${data4.id}"></span></p>
    <p>이름 : <span th:text="${data4.name}"></span></p>
    -->

    <!-- 수정된 실습 코드 (th:each로 tr 반복 처리) -->
    <table border="1">
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
        </tr>
    </table>
</body>
</html>